<div class='container overlay' id='<%= node.name.replace(" ","_") %>'>
<div>IP: <%= node.ip %></div>
<div>Name: <%= node.name %></div>
<div>Description: <%= node.description %></div>
<div>Coordinates: <%= node.coordinates.coordinates[0] %> <%= node.coordinates.coordinates[1] %></div>
<div><b>Sensors: <%= node.sensors.length %></b></div>
<hr>
<% node.sensors.forEach(function(sensor) { %>
	<div><%- include('sensor', {sensor: sensor, node: node}); %></div>
<% }); %>
<div><a href="/nodes/<%= node.id %>/sensors/add">Add sensor</a></div>
<hr>
<div><a href="/nodes/<%= node.id %>/edit">Edit node</a></div>
<div><a class="delete_link"  href="/nodes/<%= node.id %>" >Delete node</a></div>

<hr>
</div>