<!DOCTYPE html>
<html>
<head>
	<% include partials/head %> 
	<% include partials/script %>
</head>
<body>

	<!-- navigation menu - responsive -->
	<% include partials/menu %>
	
	<!-- full screen map -->
	<div class="container-fluid" >
	
		<!-- map anchor -->
		<div id="map" class="map"> </div>
		
		<!-- instantiate the nodes & their overlays -->
		<% nodes.forEach(function(node) { %>
			<%- include('partials/sensornode', {node: node}); %>
		<% }); %>
		
	</div>
	
	<!-- JS magic for the map -->
	<% include partials/map %>
	
	<!-- launch all overlays -->
	<script>
	<% nodes.forEach(function(node) { %>
		addOverlayAtCoords("<%= node.name %>", "<%= node.ip %>", <%= node.coordinates.coordinates[0] %>, <%= node.coordinates.coordinates[1] %>);
	<% }); %>
	</script>
	
</body>
</html>	
