<!DOCTYPE html>
<html>
<head>
	<% include partials/_head %> 
	<% include partials/_script %>
</head>
<body>

	<!-- navigation menu - responsive -->
	<% include partials/_menu %>
	
	<!-- full screen map -->
	<div class="container-fluid" >
	
		<!-- map anchor -->
		<div id="map" class="map"> </div>
		
		<!-- instantiate the nodes & their overlays -->
		<% nodes.forEach(function(node) { %>
			<%- include('partials/overlay_sensornode', {node: node}); %>
		<% }); %>
		
	</div>
	
	<!-- JS magic for the map -->
	<% include partials/map %>
	
	<!-- launch all overlays -->
	<script>
	<% nodes.forEach(function(node) { %>
		addOverlayAtCoords("<%= node.name %>", "<%= node.ip %>", <%= node.coordinates.coordinates[0] %>, <%= node.coordinates.coordinates[1] %>, <%= node.id %>);
		<% node.sensors.forEach(function(sensor) { %>
			initSensorData(<%= node.id %>, <%= sensor.id %>);
			jobs.push(function(){fetchSensorData(<%= node.id %>, <%= sensor.id %>);});
		<% }); %>
	<% }); %>
	</script>
	
</body>
</html>	
